<div
    [ngClass]="{ 'wrapper': true, 'disabled': disabled, 'open': isOpen }"
>
  <masa-input
    [(ngModel)]="search"
    (keydown)="onKeyDown($event)"
    (blur)="onBlur($event)"
    [disabled]="disabled"
    [required]="required"
  ></masa-input>

  <div class="foldout" *ngIf="isOpen">
    <div *ngIf="isLoading" class="loading">
      <span>{{ loadingText || 'Loading' }}</span>
      <div class="loading-indicator"></div>
    </div>

    <ng-container *ngIf="!isLoading && items">
      <ng-container *ngIf="items.length === 0">
        <div class="no-items">{{ noItemsText || 'No items found' }}</div>
      </ng-container>

      <div *ngIf="maxItems && overflowTemplate && items.length >= maxItems">
        <ng-template
          [ngOutletContext]="{ number: items.length }"
          [ngTemplateOutlet]="overflowTemplate"
        ></ng-template>
      </div>

      <div
        class="auto-complete-option-list"
        *ngIf="items.length > 0"
      >
        <div
          *ngFor="let item of items; let i = index"
          class="option"
          (click)="selectItemAtIndex(i)"
          [class.selected]="i === selectedIndex"
        >
          <ng-template
            [ngOutletContext]="{ item: item }"
            [ngTemplateOutlet]="optionTemplate"
          ></ng-template>
        </div>
      </div>
    </ng-container>
  </div>
</div>
