<div [ngClass]="{ 'dropdown-label': true, 'no-value': !selectedItem }">
	{{ label }}
	<span class="required" *ngIf="required">*</span>
</div>

<div
	class="dropdown-wrapper"
	[tabindex]="disabled ? -1 : 0"
	(keydown)="onWrapperKeydown($event)"
	(focus)="onFocus()"
	(blur)="onBlur()"
>
	<div class="dropdown-toggle" (click)="onToggle()">
		<div class="dropdown-display">
			<ng-container *ngIf="selectedItem">
				<ng-template [ngOutletContext]="{ item: selectedItem }" [ngTemplateOutlet]="displayTemplate || optionTemplate"></ng-template>
			</ng-container>

			<ng-container *ngIf="!selectedItem">
				&nbsp;
			</ng-container>
		</div>

		<div class="dropdown-arrow">
			<div class="arrow-down"></div>
		</div>
	</div>

	<div class="dropdown-foldout" *ngIf="isOpen">
		<div *ngIf="showSearch" class="dropdown-search">
			<masa-input
				[(ngModel)]="searchTerm"
				(ngModelChange)="onChangeSearch()"
				(focus)="onFocusSearch()"
				(blur)="onBlurSearch()"
			></masa-input>
		</div>

		<div class="dropdown-option-list">
			<ng-container *ngIf="isGrouped">
				<div *ngFor="let group of filteredData" class="dropdown-group">
					<div class="dropdown-group-title">
						{{ group.title }}
					</div>

					<div
						*ngFor="let item of group.items"
						[ngClass]="{ 'dropdown-option': true, 'selected': item.id === selectedItem?.id }"
						(click)="onSelect(item)"
					>
						<ng-template [ngOutletContext]="{ item: item }" [ngTemplateOutlet]="optionTemplate"></ng-template>
						&nbsp;
					</div>
				</div>
			</ng-container>

			<ng-container *ngIf="!isGrouped">
				<div
					*ngFor="let item of filteredData"
					[ngClass]="{ 'dropdown-option': true, 'selected': item.id === selectedItem?.id }"
					(click)="onSelect(item)"
				>
					<ng-template [ngOutletContext]="{ item: item }" [ngTemplateOutlet]="optionTemplate"></ng-template>
					&nbsp;
				</div>
			</ng-container>
		</div>
	</div>
</div>

<div class="dropdown-error" *ngIf="touched && errorTemplate">
	<ng-template [ngTemplateOutlet]="errorTemplate"></ng-template>
</div>
